<div class="app-header header-shadow">
    <div class="app-header__logo">ArchitectUI</div>
    <div class="app-header__content">
        <div class="app-header-left">
            <h5>Admin Panel</h5>
        </div>
        <div class="app-header-right">
            <a href="/Account/Logout">Logout</a>
        </div>
    </div>
</div>
