<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">Menu</div>
    <ul class="vertical-nav-menu">
        <li><a href="Index"><i class="metismenu-icon pe-7s-rocket"></i> Dashboard</a></li>
        <li><a href="Users"><i class="metismenu-icon pe-7s-users"></i> Users</a></li>

    </ul>
</div>
