@model IEnumerable<baitulam.Models.Cook>

<h3>Sản phẩm Hot</h3>
<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-3 text-center mb-3">
            <img src="@p.Image" class="img-thumbnail" style="height:150px;" />
            <p>@p.Name</p>
        </div>
    }
</div>
